
:root {
  --primary-color: #2f7fbd;
  --secondary-color: #ffffff;
  --neutral-color: #c914e1;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.6;
  color: #f4e776;
  background-color: #497897;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #1c8180;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.name {
  font-size: 2.5rem;
  font-weight: bold;
}

.title {
  font-size: 1.2rem;
  font-style: italic;
  color: #fcfcfc;
}

.intro {
  background-color: #ffffff;
  color: #111111;
  text-align: center;
}

.work {
  padding: 40px 0;
}

.work-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.work-item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.work-item h3 {
  font-size: 1.5rem;
  color: #ffffff;
}

footer {
  background-color: #000;
  color: #fff;
}


.hero {
  background-color: white;
  color: black;
}
.hero .lead {
  color: black;
}

.hero img {
  max-width: 60%;
  height: auto;
  display: block;
  margin: 1rem auto;
}

.hero .hero-sm {
  max-width: 40%;
}

